@page "/contractRequests"
@using WitcherProject.Shared

@attribute [Authorize(Roles = RoleNames.ContractManager + "," + RoleNames.Admin)]


<h3 class="text-primary">Contract Requests</h3>

<ContractRequestTableComponent></ContractRequestTableComponent>
