@page "/contractRequests/edit/{Id:int}"
@using WitcherProject.Shared

@attribute [Authorize(Roles = RoleNames.ContractManager + "," + RoleNames.Admin + "," + RoleNames.Witcher)]


<h3>Request detail</h3>

<ContractRequestFormComponent RequestId="@Id"></ContractRequestFormComponent>

@code {
    [Parameter]
    public int Id { get; set; }
}