@page "/contracts/add"
@using WitcherProject.BL.Services.Interfaces
@using WitcherProject.Shared
@using WitcherProject.Shared.Enums
@using WitcherProject.BL.DTOs.Contract
@using WitcherProject.BL.DTOs.Contractor
@using WitcherProject.BL.DTOs.Person
@attribute [Authorize(Roles = RoleNames.ContractManager + "," + RoleNames.Admin + "," + RoleNames.Witcher)]

@inject IContractService ContractService
@inject IPersonService PersonService
@inject IContractorService ContractorService
@inject NavigationManager NavigationManager

<h3 class="text-primary">New contract</h3>

<ContractFormComponent></ContractFormComponent>