@inherits LayoutComponentBase

<header>
    <NavMenu/>
</header>

<div class="page">
    <main>
        <div class="container bg-image text-center shadow-1-strong rounded mb-5 text-white"
             style="background-image: url('https://i.pinimg.com/originals/04/d7/bd/04d7bd96bdbeb80dda9fc5dbde5cb957.png');
                background-repeat: no-repeat;
                background-size: cover;">
            <article class="content pb-5 mb-5">
                @Body
            </article>
        </div>


@*         <div *@
@*             class="container bg-image" *@
@*             style="background-image: url('https://i.pinimg.com/originals/04/d7/bd/04d7bd96bdbeb80dda9fc5dbde5cb957.png'); *@
@*                          background-repeat: no-repeat; *@
@*                          background-size: cover"> *@
@*             <span class="container mask" style="background-color: rgba(0, 0, 0, 0.6)"> *@
@*                 <article class="content pb-5 mb-5"> *@
@*                     @Body *@
@*                 </article> *@
@*             </span> *@
@*         </div> *@
    </main>
    <div class="footer">
        <p class="align-content-start">Wind's howling!</p>
        <p class="d-flex align-content-end">Version 1.0-ALPHA </p>
    </div>
</div>