@inherits LayoutComponentBase

<header>
    <NavMenu/>
</header>

<div class="page">
    <main>
        <div class="container">
            <article class="content pb-5 mb-5">
                @Body
            </article>
        </div>
    </main>
    <div class="footer">
        <p class="align-content-start">Wind's howling!</p>
        <p class="d-flex align-content-end">Version 1.0-ALPHA </p>
    </div>
</div>