
<div class="container-fluid flex">
    
    <div class="row">
        <div class="justify-content-center d-flex col-md-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <img class="logo" src="/images/Home_Icon.png" alt="Home">
        </NavLink>
        </div>

        <div class="col-md-9">
            <div class="row h-100">
                    <div class="col-md-3  menu-item">
                        <NavLink class="nav-link" href="personalinfo">
                            @* TODO keep this edit only in settings, for now leave it there to fill space *@
                            Personal info
                        </NavLink>
                    </div>
                <div class="col-md-3 d-flex menu-item">
                        <NavLink class="nav-link" href="contracts">
                            Contracts
                        </NavLink>
                    </div>
                     <div class="col-md-3 d-flex menu-item">
                        <NavLink class="nav-link" href="contracts">
                             Contract Requests
                        </NavLink>
                    </div>
                    <div class="col-md-3 menu-item">
                        <LoginDisplay/>
                    </div>
                </div>
           
        </div>
    
        </div>
</div>


