@page "/contractors/add"
@using WitcherProject.Shared
@attribute [Authorize(Roles = RoleNames.ContractManager + "," + RoleNames.Admin + "," + RoleNames.Witcher)]

<h3 class="text-primary">New contractor</h3>

<ContractorFormComponent></ContractorFormComponent>