@page "/contractors"
@using WitcherProject.Shared
@attribute [Authorize(Roles = RoleNames.ContractManager + "," + RoleNames.Admin + "," + RoleNames.Witcher)]

<h3>Contractors</h3>

<ContractorsTableComponent></ContractorsTableComponent>

@code {
}